<div class="movies">
    <h1 class="movies__title">Choose movie which you want see</h1>
    <ul class="movies__list">
        <% @movies.each do |movie| %>
            <%= link_to movie_path(movie.id), :class => "movies__link" do %>
                <li class="movies__list-item">
                        <div class="movies__item-img"></div>
                        <h2 class="movies__item-title"> <%= movie.title %> </h2>
                </li>
            <% end %>
        <% end %>
    </ul>
</div>