/* *= require_self */
 
* {
	margin: 0;
	padding: 0;
	background-color: #fefefe;
	font-family: 'Ubuntu', sans-serif;
}

button {
	border: none;
}

a {
	color: red;
	text-decoration: none;
}

a:focus {
	border: none;
	outline: none;
}

a:active {
	border: none;
	outline: none;
}

.movies__title {
	text-align: center;
	margin: 20px 0;
}

.movies__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 80%;
	margin: 0 auto;
}

.movies__link {
	margin: 20px 0;
}

.movies__list-item {
	border: 3px solid black;
	width: 300px;
	height: 200px;
	list-style-type: none;
	position: relative;
	overflow: hidden;
}

.movies__list-item:hover .movies__item-title {
	bottom: 5%;
}

.movies__item-img {
	width: 100%;
	height: 100%;
	background-color: blue;
}

.movies__item-title {
	position: absolute;
	left: 5%;
	bottom: -50%;
	font-size: 26px;
	background-color: transparent;
	color: black;
	transition: 400ms;
}

.navbar {
	background-color: #222222;
	height: 50px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.navbar__link {
	background-color: transparent;
	color: white;
	font-size: 22px;
	margin: 2px 20px;
	transition: 200ms;
}

.navbar__link:hover {
	color: rgba(255, 255, 255, 0.3);
	margin: 0 20px 4px 20px;
}

.navbar__link:active {
	border: none;
	outline: none;
}

.navbar__link:focus {
	border: none;
	outline: none;
}